<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.egdeveloper.data.entities.Doctor"/>
        <mapping class="org.egdeveloper.data.entities.Patient"/>
        <mapping class="org.egdeveloper.data.entities.BioChemTest"/>
        <mapping class="org.egdeveloper.data.entities.CommonBloodTest"/>
        <mapping class="org.egdeveloper.data.entities.CommonUreaTest"/>
        <mapping class="org.egdeveloper.data.entities.DailyExcreationTest"/>
        <mapping class="org.egdeveloper.data.entities.TitrationTest"/>
        <mapping class="org.egdeveloper.data.entities.UreaColorTest"/>
        <mapping class="org.egdeveloper.data.entities.UreaStoneTest"/>
    </session-factory>
</hibernate-configuration>